body {
    box-sizing: border-box;
    margin: 0;
  }

#app {
    background-color: #F8EBE6;
    margin: 0;
}


.related-header {
    fill: #F8EBE6;
    background-color: white;
    display: flex;
    margin: 0;
    overflow: hidden;
}

/* All items containers */
.items {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    min-width: 0px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    flex-shrink: 2;
}

.related-allItems {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 15%, 85%;
}

/* FROM SHOP */
.related-fromShop {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: end;
    padding-right: 25px;
}

.related-fromShopHeader {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
    display: flex;
    justify-self: flex-start;
    align-self: flex-end;
    padding-left: 10px;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 150;
    /* font-family: 'Halant', serif; */
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

/* RELATED FOR YOU*/
.related-items {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: start;
    padding-left: 25px;
}

.related-relatedHeader {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
    align-self: flex-end;
    margin: 0;
    font-size: 32px;
    line-height: 36px;
    font-weight: 150;
    /* font-family: 'Halant', serif; */
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;

}

.related-HeaderBar {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.related-fromShopHeaderBar {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

/* INDIVIDUAL ITEMS  */
.related-shopIndividualItem, .related-relatedIndividualItem {
    padding: 9px;
    display: flex;
    flex-shrink: 1;
    font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    z-index: 0;
}

.related-itemCaption {
    font-weight: 300;
    font-size: 13px;
    overflow: hidden;
    text-overflow: hidden !important;
    white-space: nowrap !important;
    min-width: 0 !important;
    margin: 0;
}

.related-seller {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #595959 !important;
    overflow: hidden !important;
    text-overflow: hidden !important;
    white-space: nowrap !important;
    min-width: 0 !important;
    display: block;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.related-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #222 !important;
}

.related-shippingStatus {
    color: #595959 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    min-width: 0 !important;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

img {
    display: flex;
    max-width: 100%;
    border-radius: 6px;
}

/* FAVORITES BUTTON */
.related-imageButton {
    position: relative;
}

button {
    cursor: pointer;
    background: transparent;
}

.related-nonFavorite {
    color: white;
    border: none;
    outline: none;
    font-size: 1.6em;
}

.related-favorited {
    color: rgb(214, 86, 107);
    border: none;
    outline: none;
    font-size: 1.6em;
}

.related-nonFavorite:hover {
   transform: scale(1.1);
} 

.related-favoriteContainer {
    display: none;
}

.related-hoverCard:hover .related-favoriteContainer {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
}

/* SHOW MORE BUTTON*/
.related-showMore {
    font-size: 13px;
    line-height: 1.4;
    min-height: 36px;
    min-width: 36px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #222222;
    border-radius: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

.related-showMore:hover::after {
    border: 4px solid #222222;
    transform: scale(1.03);
    content: "";
    background: inherit;
    border: inherit;
    border-radius: inherit;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* HOVER CARD */
.related-hoverCard {
    z-index: 1;
    position:relative;
    cursor: pointer;
    transition: 2s;
}

.related-hoverCard:hover::before {
    content: "";
    opacity: 1;
    z-index: -1;
    position: absolute;
    top: -5px;
    right: -6px;
    bottom: -9px;
    left: -6px;
    width: 103%;
    height: 102%;
    transform: scale(0.96);
    background: white;
    border: 1px dotted transparent;
    border-radius: 6px;
    box-shadow: 0 2px 18px rgba(34, 34, 34, 0.2);
}

