.related-allItems {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 15%, 85%;
    /* min-height: 500px;
    min-width: 0px;
    max-width: 100%;
    max-height: 600px; */
}

.related-fromShop {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.related-items {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.related-fromShopHeader {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
}

.related-relatedHeader {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.related-shopIndividualItem {
    padding: 9px;
}

.related-relatedIndividualItem{
    padding: 9px;
}


img {
    display: flex;
    min-width: 150px;
    min-height: 100px;
    max-width: 300px;
    max-height: 250px;
}

/* 
@media (min-width: 1500px) {
    .related-shopIndividualItem, .related-relatedIndividualItem {
        flex-shrink: 1 !important;
    }
} */